@import "./global.scss";


.radio-options {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    font-family: QuickSandMedium;
    font-size: $primaryFontSize;
    color: #333333;
}



.radio-options input[type="radio"] {
    display: none;
}

.radio-options label {
    padding-left: 32px;
    background: url('../assets/images/radio-button-off.svg') no-repeat left center;
    background-size: 24px 24px;
    cursor: pointer;
    font-size: $primaryFontSize;
    user-select: none;
    display: flex;
    align-items: center;
    min-height: 32px;

}

.radio-options input[type="radio"]:checked+label {
    background-image: url('../assets/images/radio-button-on.svg');
}

.radio-label {
    margin-left: 8px;
}