
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(163, 163, 163);
}

@font-face {
    font-family: Roboto;
    src: url("./fonts/Roboto-VariableFont_wdth\,wght.ttf");
}

.container {
    display: flex;
    background-color: white;
    width: 457px;
    height: 138px;
}

.profile-pic {
    margin: 4px 14px 4px 4px;
}
.profile-img{
    width: 130px;
    height: 130px;
}

.username {
    font-size: 20px;
    color: black;
    font-family: Roboto;
    font-weight: bold;
    margin-bottom: 14px;
}

.content {
    font-size: 20px;
    margin: 0 0 24px 0;
    font-weight: 400;
    font-family: Roboto;
}


.aicon {
    font-size: 20px;
    margin: 0 14px 0 0;
}


.actions {
    color: #858991;
    height: 18px;
    display: flex;
    

}


.icon-text{
    font-size: 15px !important;
    margin: 0 24px 0 0;
    font-family: "Roboto", sans-serif;

}