*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    
}



.window-div{
   border: 2px solid black;
 
   display: flex;
   flex: 1;

}

.draggable-div{
    height: 50px;
    width: 50px;
    border: 2px solid red;
    position: absolute;
    touch-action: none;
}
